@charset 'utf-8';
*{
  box-sizing: border-box;
  margin: 0;
}
#number{
  width: 1000px;
}
.number{
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: inline-block;
  margin: 2px;
  line-height: 76px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.selected{
  background-color: red;
  font-weight: bold;
  color: white;
}
